.main-aside-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;

    column-gap: $SPACING-1-00;
    row-gap: $SPACING-3-00;
}

.main-aside-container__main {
    grid-column: span 8;
}

.main-aside-container__aside {
    grid-column: 10 / 13;

    &-inner-sticky {
        position: sticky;
        top: calc( var(--nav-height) + 2em );
    }
}