.\+home-search-results-wrapper {
    position: relative;

    max-width: var(--max-width);
    width: 100%;
}

.\+home-search-results {
    position: absolute;
    left: 0;
    top: 0;


    display: grid;
    row-gap: $SPACING-1-50;

    width: 100%;
    max-height: 100vh;

    border-radius: 10px;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }
}