.post-compact-card {
    padding: $SPACING-1-00 $SPACING-1-50;
    
    background-color: $COLOR_WHITE_10;
    border-radius: 10px;
}

.post-compact-card__header {
    margin-bottom: $SPACING-0-75;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-bottom: $SPACING-0-75;

    border-bottom: solid 1px $COLOR_DIVIDER;
}

.post-compact-card__breadcrumbs {
    flex-grow: 1;
}

.post-compact-card__date {
    @include set-font($FONT_SUBTEXT_1);
    color: $COLOR_BLUE_30;
}