.\+home-container {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    --max-width: calc( min(790px, 100%) );
}