.app-nav {
    margin-top: var(--nav-margin-top);

    position: sticky;
    top: 0;
    z-index: 5;

    background-color: $COLOR_BACKGROUND;
    box-shadow: rgba(228, 228, 228, 0.35) 0px 16px 20px 0px;

    --color: #{ $COLOR_TEXT_100 };
}

.app-container.--home .app-nav {
    background-color: transparent;
    box-shadow: none;

    --color: #{ $COLOR_WHITE_10 };
}

.app-nav__content {
    display: flex;
    align-items: baseline;

    padding-top: var(--nav-padding-top);
    padding-bottom: var(--nav-padding-bottom);
}

.app-nav__title {
    @include set-font($FONT_TITLE_2);
    line-height: 1em;
    color: var(--color);

    &:hover { text-decoration: underline; }
}

.app-nav__menu-toggle {
    position: relative;

    height: 14px;
    width: 20px;

    span {
        position: absolute;
        left: 0;

        width: 100%;
        height: 2px;
        background-color: var(--color);
    
        &:nth-child(1) { top: 0; }
        &:nth-child(2) { top: 50%; transform: translate(0, -50%); }
        &:nth-child(3) { bottom: 0; }
    
        transition: background-color 75ms linear;
    }

    display: none;
}

.app-nav-links {
    margin-left: auto;
    display: flex;
}

.app-nav-links__item {
    &:not( :last-child ) { margin-right: $SPACING-3-00; }

    @include set-font($FONT_TITLE_4);
    line-height: 1em;
    color: var(--color);

    &:hover { text-decoration: underline; }
}   