.\+category-header {
    @extend %aspect-ratio;
    
    margin-bottom: $SPACING-6-00;

    display: flex;
    align-items: stretch;

    --aspect-ratio: 4 / 1;
}

.\+category-header .image-card.--bg-center-center .image-card__image {
    --aspect-ratio: 2 / 1;
}