:root {
    // font sizes variables

    @include set-font($FONT_BODY);

    @each $font-name, $font-params in $FONTS {
        $size: map-get($map: $font-params, $key: 'size');
        --#{ $font-name }-size: #{ $size };
    }
}

.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    font-family: $FONT_FAMILY_PRIMARY;
    color: $COLOR_TEXT_100;

    background-color: $COLOR_BACKGROUND;

    --nav-margin-top: #{ $SPACING-1-50 };
    --nav-padding-top: #{ $SPACING-1-00 };
    --nav-padding-bottom: #{ $SPACING-1-50 };
    --nav-title-size: #{ get-font-size($FONT_TITLE_2) };
    --nav-height: calc( 
        var(--nav-margin-top) 
        + var(--nav-padding-top) 
        + var(--nav-padding-bottom) 
        + var(--nav-title-size)
    )
}