%aspect-ratio {
    position: relative;
    
    @supports ( aspect-ratio: var(--aspect-ratio, 1 / 1) ) {
        aspect-ratio: var(--aspect-ratio, 1 / 1);
    }

    @supports not ( aspect-ratio: var(--aspect-ratio, 1 / 1) ) {
        flex-grow: 1;
        
        &::before {
            display: block;
            padding-bottom: calc( (1 / var(--aspect-ratio, 1 / 1)) * 100% );

            content: '';
        }
    }
}